%div{data: {role: 'page', url: "/groups/#{@group.id}/actions/"}}
	.ui-bar-a.userinfo
		Inloggad som: Stefan Pettersson Noord
	%div{data: {role: 'content'}}
		.logo= link_to image_tag('logo-top.png'), "/groups", 'data-direction' => 'reverse'
		.ui-bar-a
			%h2= @group.name
		%ul{data: {role: 'listview', inset: 'true'}}
			%li= link_to 'Registrera n채rvaro', "/groups/#{@group.id}/register", :class => 'refresh-page'
			%li= link_to 'Visa alla tr채ningar', group_practices_path(@group)
			%li= link_to 'L채gg till tr채ning', new_group_practice_path(@group)
			%li= link_to 'Se kontaktlista', group_members_path(@group)