- provide(:url, "/groups/#{@group.id}/actions/")
%ul{data: {role: 'listview', inset: 'true'}}
	%li= link_to 'Registrera n채rvaro', "/groups/#{@group.id}/register", :class => 'refresh-page'
	%li= link_to 'Visa alla tr채ningar', group_practices_path(@group)
	%li= link_to 'L채gg till tr채ning', new_group_practice_path(@group)
	%li= link_to 'Se kontaktlista', group_members_path(@group)
	- if current_user.admin?
		%li= link_to 'Exportera data', "/groups/#{@group.id}/export"