%div{data: {role: 'page'}}
	.ui-bar-a.userinfo
		Inloggad som: Joel Lundberg
	%div{data: {role: 'content'}}
		.logo
			= image_tag('logo-top.png')
		.ui-bar-a
			%h2
				= @group.name
		%ul{data: {role: 'listview', inset: 'true'}}
			%li= link_to 'Registrera n채rvaro', ''
			%li= link_to 'Visa alla tr채ningar', ''
			%li= link_to 'L채gg till tr채ning', ''
			%li= link_to 'Se kontaktlista', ''