= form_for([@group, @practice]) do |f|
  - if @practice.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@practice.errors.count, "error")
        prohibited this practice from being saved:
      %ul
        - @practice.errors.full_messages.each do |msg|
          %li= msg

  %fieldset{data: {role: 'controlgroup', type: 'horizontal'}, style: "text-align: center"}
    = date_select :practice, :date, { start_year: Time.now.year + 1, end_year: Time.now.year, prompt: false }
  = f.text_field :location, placeholder: 'Plats'
  = f.text_area :notes, placeholder: 'Anteckningar', style: "height: 100px;"
  = f.submit({data: {theme: 'a', icon: 'arrow-r'}})
  %a{data: {role: 'button', theme: 'r', icon: 'delete', rel: 'back'}}Avbryt