%div{data: {role: 'page'}}
  .ui-bar-a.userinfo
    Inloggad som: Joel Lundberg
  %div{data: {role: 'content'}}
    .logo= image_tag('logo-top.png')
    .ui-bar-a
      %h2= @group.name

    %h3{style: "margin-bottom: 20px;"}Välj träningstillfälle för närvaro
    %ul{data: {role: 'listview', inset: 'true'}}
      - @practices.each do |practice|
        %li
          %a{href: "practices/#{practice.id}/register"}
            #{practice.date.strftime("%A %Y-%m-%d")}

  = link_to 'New Practice', new_group_practice_path
