<!DOCTYPE html>
<html>
<head>
  <title>Närvaro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="shortcut icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"></head>
<body>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
