= form_for([@group, @member]) do |f|
  - if @member.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@member.errors.count, "error")
        prohibited this member from being saved:
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  = f.check_box :active
  = label_tag "member_active", "Aktiv medlem"
  = f.text_field :name, placeholder: 'Namn'
  = f.text_field :ref_number, placeholder: 'Medlemsnummer'
  = f.text_field :group_name, placeholder: 'Gruppnamn'
  = f.label "Födelseår", style: "display: block; text-align: center"
  %fieldset{data: {role: 'controlgroup', type: 'horizontal'}, style: "text-align: center"}
    = date_select :member, :birthyear, { start_year: 1990, end_year: Time.now.year, discard_month: true, discard_day: true, prompt: false }
  = f.text_field :contact1_phone, placeholder: 'Kontaktperson #1 - Telefonnummer'
  = f.text_field :contact1_email, placeholder: 'Kontaktperson #1 - E-mail'
  = f.text_field :contact2_phone, placeholder: 'Kontaktperson #1 - Telefonnummer'
  = f.text_field :contact2_email, placeholder: 'Kontaktperson #1 - E-mail'
  = f.check_box :is_trainer
  = label_tag "member_is_trainer", "Tränare"
  = f.submit({data: {theme: 'a', icon: 'arrow-r'}})
  %a{data: {role: 'button', theme: 'r', icon: 'delete', rel: 'back'}}Avbryt