- if @group.nil?
  %h1 Listing members
- else
  %h1 Listing members for #{@group.name}

%table
  %tr
    %th Name
    %th Group
    %th
    %th
    %th

- @members.each do |member|
  %tr
    %td= member.name
    %td= member.group_id
    %td= link_to 'Show', member
    %td= link_to 'Edit', edit_member_path(member)
    %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
