%div{data: {role: 'page'}}
  .ui-bar-a.userinfo
    Inloggad som: Joel Lundberg
  %div{data: {role: 'content'}}
    .logo= image_tag('logo-top.png')
    .ui-bar-a
      %h2= @group.name

    %h3{style: "margin-bottom: 20px;"}Alla medlemmar i gruppen
    %ul{data: {role: 'listview', inset: 'true', filter: 'true'}}
      - @members.each do |member|
        %li
          %a{href: group_member_path(@group, member)}
            #{member.name} (-#{member.dateofbirth.strftime("%y")})
            %br
            %span.parentinfo
              #{member.parent_name}: #{member.parent_phone}

  = link_to 'New Member', new_group_member_path