%h3 #{@member.name} (-#{@member.birthyear.strftime("%y")})

%p
	Antal träningar: #{@num_practices}
	%br
	Senaste närvaron: #{@latest_attendance}
	%br
	Aktiv: #{@member.active ? "Ja" : "Nej"}

%h4{style: "margin-bottom:0px;"} Kontaktperson #1
%p{style: "margin-top:5px;margin-bottom:30px;"}
	Telefonnummer:
	%a{href: "tel:#{@member.contact1_phone}"}#{@member.contact1_phone}
	%br
	E-mail:
	%a{href: "mailto:#{@member.contact1_email}"}#{@member.contact1_email}
%h4{style: "margin-bottom:0px;"} Kontaktperson #2
%p{style: "margin-top:5px;margin-bottom:30px;"}
	Telefonnummer:
	%a{href: "tel:#{@member.contact2_phone}"}#{@member.contact2_phone}
	%br
	E-mail:
	%a{href: "mailto:#{@member.contact2_email}"}#{@member.contact2_email}
%a{href: edit_group_member_path, data: {role: 'button'}}Redigera medlemsuppgifter
- if current_user.admin?
	=button_to "Ta bort medlem", group_member_path, method: :delete, confirm: "Are you sure?", data: {role: 'button', theme: 'r', icon: 'delete'}
%a{data: {role: 'button', theme: 'b', icon: 'arrow-l', rel: 'back'}}Tillbaka till listan